body {background-color: hsl(220, 15%, 55%)}
.first-div {
    height: 320px;
    width: 200px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;}
.div-image {
    position: relative;
    top: 10px;
    left: 10px;
    height: 180px;
    width: 180px;
    border-radius: 15px;
}

.header {
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.para {font-size: 11px;
       text-align: center;
       color: hsl(220, 15%, 55%);}